/* Essa parte muda só o carrossel */

.carrossel-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    margin-top: -87px;
    z-index: 2;
}

.carrossel {
    position: relative;
    height: 58vh;
    overflow: hidden;
}

.carrossel-slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(1.05);
    transition: opacity 1.1s ease, transform 1.4s ease;
}

.carrossel-slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.carrossel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(68%) contrast(1.1);
}

/* TEXTO */
.carrossel-texto {
    position: absolute;
    bottom: 18%;
    left: 8%;
    color: #fff;
    max-width: 480px;
    animation: fadeUp 1.3s ease forwards;
    opacity: 0;
}

.carrossel-slide.active .carrossel-texto {
    opacity: 1;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.carrossel-texto h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.carrossel-texto p {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}

/* BOTÃO */
.botao-carrossel {
    background-color: #d4af37;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.botao-carrossel:hover {
    background-color: #b9962c;
    transform: translateY(-2px);
}

.carrossel-controles {
    position: absolute;
    top: 50%;
    inset-inline: 0;
    display: flex;
    justify-content: space-between;
    padding-inline: 25px;
    transform: translateY(-50%);
    z-index: 10;
}

.carrossel-controles span {
    cursor: pointer;
    font-size: 40px;
    padding: 10px 15px;
    border-radius: 50%;
    background: rgba(255,255,255,0.15);
    color: white;
    transition: 0.3s ease;
}

.carrossel-controles span:hover {
    background: rgba(255,255,255,0.35);
}

/* Responsivo */
@media (max-width: 768px) {

    .carrossel {
        height: 45vh;
    }

    .carrossel-texto h2 {
        font-size: 2rem;
    }

    .carrossel-texto p {
        font-size: 1rem;
    }

    .botao-carrossel {
        padding: 10px 24px;
    }

    .carrossel-controles span {
        font-size: 32px;
        padding: 8px 12px;
    }
}
